<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2><%= t('preorder.homepage.middle_reserve.ships') %></h2>
    <a href="/preorder/checkout" class="blue_button reserve"><%= t('preorder.homepage.middle_reserve.call_to_action') %></a>
  </div>
</div>
