.footer 
{
  padding: 40px 0;
  margin: 0 0 0 0;
  ul 
  {
    float: left;

  }
  li 
  {
    list-style: none;
    display: inline;
    float: left;
    margin: 10px;

  }
  a 
  {
    font-size: 14pt;
    color: #525252;
    font-family: $primary_font, $secondary_font, $tertiary_font;
  }
  p 
  {
    
  }
  .pull-right
  {
    font-size: 10pt;

  }
  .language-chooser 
  {
    float: left;
    font-size: 14pt;
    display: inline;
}
}